# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]

# ==========================
# Virtual Environment
# ==========================
.venv/

# ==========================
# Environment Variables
# ==========================
.env

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Upload Folder
# ==========================
uploads/*
!uploads/.gitkeep

# ==========================
# Operating System
# ==========================
.DS_Store
Thumbs.db
Desktop.ini